---
layout: archive
title: "Talks and presentations"
permalink: /presentations/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap/">Click here to see a map of all the places where I've given a talk!</a></p>

{% endif %}

<p>For more information on a given panel, such as presentation materials used or takeaway notes, please <a href="mailto:fjsantam@uw.edu">email me.</a></p>

{% for post in site.presentations reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
